.SomeDiv {
  margin: 0 auto;
  text-align: center;
  border: 0.5vh solid coral;
}

header {
  font-size: 4vh;
  height: 10vh;
  line-height: 10vh;
  text-align: center;
}

footer {
  border-top: 1vh solid black;
}
.block {
  font-size: 1.75vh;
  color: white;
  display: block;
  width: 100%;
  border-radius: 25px;
  border: none;
  background-color: #4caf50;
  padding: 14px 28px;
  cursor: pointer;
  text-align: center;
}

@media screen and (max-width: 500px) {
	header{
		font-size : 1.5vh;
	}
}